<h1>Listing Questions</h1>

<p>
  <button class="btn btn-default">
    <%= link_to 'New question', new_question_path %>
  </button>
</p>

<%= HTTParty.get("https://api.github.com/zen?access_token=168d58280cffd9d531811f5288752a51203f5753") %>

<table class="table" id="questions">
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Description</th>
      <th>Votes</th>
      <th colspan='2'></th>
    </tr>
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.votes.all.sum(:value) %></td>
      <td> <a href= <%= question_path(question)  %>><%= question.title %></a></td>
      <td><%= question.description %></td>
      <td> 
        <a href=<%= upvote_question_path(id: question.id) %>>
          <button type="button" class="btn btn-default btn-md">
           <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          </button>
        </a>
        <a href=<%= downvote_question_path(id: question.id) %>>
          <button type="button" class="btn btn-default btn-md">
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
          </button>
        </a>
      </td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'Destroy', question_path(question),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
