<h1>Listing Questions</h1>

<table class="table" id="questions">
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Description</th>
      <th>Upvote</th>
      <th>Downvote</th>
      <th colspan='2'></th>
    </tr>
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.votes %></td>
      <td><%= question.title %></td>
      <td><%= question.description %></td>
      <td></td>
      <td></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'Destroy', question_path(question),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
