<h1>Listing Questions</h1>

<table class="table" id="questions">
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Description</th>
      <th>Votes</th>
      <th colspan='2'></th>
    </tr>
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.votes %></td>
      <td><%= question.title %></td>
      <td><%= question.description %></td>
      <td> <a href=<%= upvote_question_path(id: question.id) %>>
        <button type="button" class="btn btn-default btn-md">
           <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          </button>
          </a>
        <button type="button" class="btn btn-default btn-md">
           <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
          </button>
      </td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'Destroy', question_path(question),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
