
<h2>Questions</h2>

	<%= render "form" %>

  <h3>Current questions</h3>

<table class="table table-striped">
  <thead>
    <th class="col-md-2">Title</th>
    <th class="col-md-1"># Answers</th>
    <th class="col-md-5">Content</th>
    <th class="col-md-1">#Votes</th>
    <th class="col-md-1">Vote</th>
    <th class="col-md-1">Action</th>
  </thead>

  <tbody>
  	<% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.title, question_path(question) %></td>
        <td class="text-center"><%= question.answers.count %> </td>
        <td><%= question.content %></td>
        <td><%= pluralize(question.votes.count, "vote") %></td>
        <td>
          <%= button_to '+1', upvote_question_path(question), method: :post, :class => "btn btn-sm" %>
          <%= button_to '-1', downvote_question_path(question), method: :post, :class => "btn btn-sm" %>
        </td>
        <td>
          <%= link_to 'Edit', edit_question_path(question) %>
          <%= link_to 'Delete', question_path(question), method: :delete %>
        </td>

      </tr>
  	<% end %>

  </tbody>
</table>
