<h1>
	<%= @question.title %>
</h1>
<h2>	
	<%= @question.content %>
</h2>
<h3>Add a new answer</h3>



<h3>Answers</h3>
<table>
	<thead>
		
		<th>Title</th>
		<th>Content</th>

	</thead>

	<tbody>
		
	<% @answers.each do |answer| %>		
		<tr>
		<td><%= answer.title %></td>
		<td><%= answer.content %></td>
		</tr>
	<% end %>

	</tbody>


</table>
<br>

<%= link_to 'Volver', questions_path %>